/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700);
@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css);
/*common*/
.no-margin{margin:0px !important;}
.no-padding{padding: 0px !important;}
.margin-l-0{margin-left: 0px !important; }
.v-center{display: flex;align-items: center;}
.f-size-2{font-size: 2em;}
.margin-l-r-5{margin:0 5px;}
.padding-t-b-10{padding:10px 0px;}
.text-align-right{text-align: right;}
.main{padding: 10px;}
#price_lis_default_mark{  margin-top: 35px;
}
ul{list-style: none;}
body{font-family: 'Open Sans Condensed', sans-serif;}
table thead tr:first-child{background: #2d5771;color: #fff;}
table thead{border: 2px solid #2d5771;}    


/*index page*/
.header label[for=search]{vertical-align: -webkit-baseline-middle;}
.main-content{margin: 50px 0px auto auto;}
.action-btn{text-align: center;}
.page-switch{float: right;}
.header>ul{margin: 0px;width: 100%;padding: 0px;}
.th-default{width:100px;}
.th-action{width: 90px;}


/*edit page*/
.header-edit{display: flex;justify-content: space-between;}
.price-search-bar{margin-top: 25px;}
.price-search-cbox{padding:0 15px;top:33px ;}
.price-list-label{font-size: 2em;font-weight: 600;}
.td-input{width:100px;}
.td-input .form-control{border-radius: 0px;}
@media only screen and (max-width: 767px) {
	.price-search-cbox{top: 0px;}	
}
.inputbox{border-width: 0px 0px 0px 0px; border-color: white; box-shadow: inherit;}
li {list-style:none;}
ol, ul {margin-top: -15px;}
legend{opacity:0}
